@import 'partials/reset';
@import 'partials/fonts';

$main-font: 'Montserrat-Light', sans-serif;
$main-font-bold: 'Montserrat-Bold', sans-serif;
$purpule-menu : #71237E;
$dark-purpule-menu : #4D1463;
$menu-element : #D18EE2;
$menu-hover : rgba(76,19,103,0.5);
$menu-left-border-hover : #65B32E;
$menu-left-border-hover-mobile : #FFCC00;
$menu-overlay : #6C6D6D;
$white-color: #FFF;
$border-color :#C9C9C9;
$heigt-seventy : 70px;
$light-grey-color : #8899AA;
$dark-grey-color : #626272;



@mixin icon-setting{
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 2.4em 47em;
	width: 17px;
	height: 17px;
}

@mixin icon-list ($purp_x,$purp_y,$white_x,$white_y){
	.sprite-icon {
                background-position: $purp_x $purp_y;
            }
     &:hover .sprite-icon{
                background-position: $white_x $white_y;     	
     }       
}

%menu-item-elm-allignement{
    display: flex;
    align-items: center;
    height: 67px;
    width: 100%; 
}

%content-flex-allignement{
    display: flex;
	align-content: center;
    align-items: center;
}

%box-content-design{
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid rgba(173,179,185,0.51);
}

%popup-input{
	height: 20px;
	border: 1px solid $light-grey-color;
	border-radius: 4px;
	text-align: center;
	padding: 5px;
}

body{
	display: flex;
	font-family: $main-font;
	font-size: 14px;
}

.active{
    background-color: $menu-hover;
    box-shadow: 0 -1px 0 0 #4C1367, 0 1px 0 0 #4C1367;

    &::before{
      content: '';
      width: 6px;
      height: 41px;
      background-color: $menu-left-border-hover;
      border-radius: 0 17px 17px 0;      
    }
    .menu-list-element{
      color: $white-color !important;
	    .sprite-icon  {
	      	margin: 0px 25px 0 19px !important;
	      }
    }    
    .section-dash .sprite-icon {
    	background-position:0em -1.2em !important;
    }
    .section-ord .sprite-icon {
    	background-position:0em -3.6em !important;
    }
    .section-comp .sprite-icon{
    	background-position:0em -6em !important;
    }
    .section-prod .sprite-icon {
    	background-position:0em -8.4em !important;
    }
    .section-doc .sprite-icon {
    	background-position:0em -10.8em !important;
    }
    .section-pri .sprite-icon{
    	background-position: 0em -13.3em !important;
    }
    .section-bra .sprite-icon{
    	background-position: 0em -15.7em !important;
    }
    .section-set .sprite-icon{
    	background-position:0em -18em !important;
    }
    .section-rep .sprite-icon{
    	background-position:0em -20.5em !important;
    }
    .section-acc .sprite-icon{
    	background-position:0em -22.8em !important;
    }
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    width: 100%;
}

#menu {
  background: $purpule-menu;
  width: 18%;
    .top-logo-container{
      height: $heigt-seventy;
      background: $dark-purpule-menu;
      margin-bottom: 10px;
    }

    .menu-list-item{
      @extend %menu-item-elm-allignement;
      transition: .5s;

            &:hover{
              @extend .active;
            }
            .section-dash  {
            	@include icon-list(0em,0em,0em,-1.2em);
            }
            .section-ord  {
            	@include icon-list(0em,-2.4em,0em,-3.6em);
            }
            .section-comp {
            	@include icon-list(0em,-4.8em,0em,-6em);
            }
            .section-prod {
            	@include icon-list(0em,-7.2em,0em,-8.4em);
            }
            .section-doc {
            	@include icon-list(0em,-9.67em,0em,-10.8em);
            }
            .section-pri {
            	@include icon-list(0em,-12.05em,0em,-13.3em);
            }
            .section-bra {
            	@include icon-list(0em,-14.4em,0em,-15.7em);
            }
            .section-set {
            	@include icon-list(0em,-16.85em,0em,-18em);
            }
            .section-rep {
            	@include icon-list(0em,-19.3em,0em,-20.5em);
            }
            .section-acc {
            	@include icon-list(0em,-21.7em,0em,-22.8em);
            }

        .menu-list-element{
          @extend %menu-item-elm-allignement;        
          font-weight: 600;
          line-height: 34px;
          color: $menu-element;
          text-decoration: none;
          position: relative;
	        .sprite-icon{
	        	@include icon-setting;
	          	margin: 0px 25px;
	       } 
        }
        .elm-arrow-left::after {
        	content:'';
	        @include icon-setting;
	        background-position: 0em -25.3em;
	        position: absolute;
    		right: 5px
        }
    }

    .logout	{
    	display: block;
    	width: 47px;
		height: 15px;
		margin: 46px 0 0 35px;
		font-size: 12px;
		text-decoration: none;
		line-height: 15px;
		color: $menu-element;
    }
}

#panel{
  flex-grow: 2;
  width: 85%;
  min-height: 1024px;
  position: relative;

  	.content-header{
  		width: 100%;
  		height: $heigt-seventy;
  		display: flex;
  		border-bottom: 1px solid $border-color;
	  		
	  		.search-container {
    			flex-grow: 2;
  				border-right: 1px solid $border-color;

  					.icon-search{

  							&::before{
					        	content:'';
						        @include icon-setting;
							    background-position: 0em -27.7em;
							    margin-left: 25px;
  							}
		  					.search-head-input{
		  						display: inline-block;
		  						width: 92%;
		  						border: none;
		  						height: 68px;						
								line-height: 18px;
								color: $light-grey-color;

		  							&:focus{
    									outline: none;
		  							}
  							}
					}
  			}

  			.header-hello-container{
  				display: flex;
  				flex-direction: column;
			    justify-content: center;
			    padding-left: 20px;

  					.hello-msg{
						line-height: 18px;
						color: #DF542A;
  					}
  					.corp-name{
  						text-decoration: none;
  						font-size: 11px;
						font-weight: 600;
						line-height: 14px;
						color: $dark-grey-color;
  					}
  					.arrow-down{
				        @include icon-setting;
					    background-position: 0em -23.85em;
					    transform: rotate(90deg);
					    padding-left: 20px; 						
  					}
  			}
	}

	.content-wrap{
		display: flex;
		flex-direction: column;
		background-color: #F4F7F8;
		padding: 20px 40px 20px 30px;
		min-height: 913px;

			.order-head{
				font-size: 24px;
				font-weight: 300;
				line-height: 29px;
				color: #6C5E73;
					.order-label{
						opacity: 0.2;
					}
					.order-serial{
						opacity: 1;
					}
			}

			.first-line{
				margin-top: 20px;
      			@extend %content-flex-allignement;
      			justify-content: space-between;

					.addition-container{
						@extend %content-flex-allignement;
						@extend %box-content-design;
						width: 75%;
						height: $heigt-seventy;
						padding: 10px;

							.name-address-container{
								width: 60%;

									p{
										margin: 7px 0;
									}
									.name-comp{
										font-size: 16px;
										font-family: $main-font-bold;
										line-height: 19px;
										color: $dark-grey-color;
									}
									.address-comp{
										font-size: 12px;
										line-height: 15px;
										color: $light-grey-color;
									}
									.phone-comp{
										font-size: 12px;
										font-weight: 600;
										line-height: 15px;
										color: $light-grey-color;
									}
							}
							.dropdown-container{
								display: flex;
								width: 60%;
    							justify-content: space-around;

									.single-drop{
										display: flex;
										flex-direction: column;
    									align-items: center;

											label{
												font-size: 11px;
												font-family: $main-font-bold;
												line-height: 14px;
												color: $dark-grey-color;
												margin-bottom: 4px;
											}

											select{
												height: 33px;
    											width: 112px;
												box-sizing: border-box;
												background-color:$white-color;
												border: 1px solid $border-color;
												border-radius: 4px;
												font-size: 11px;
												line-height: 14px;
												color: $light-grey-color;
												cursor: pointer;
											}
									}
							}
					}

					.update-back-container{
						display: flex;
						align-items: center;
    					justify-content: space-around;
    					width: 23%;

							.btn-back{
								font-size: 14px;
								line-height: 18px;
								color: $dark-grey-color;
								text-decoration: none;
							}
							.btn-update{
								display: flex;
							    align-items: center;
							    justify-content: center;
								width: 140px;
								height: 44px;
								background-color: $light-grey-color ;
								border-radius: 5px;
								color: $white-color;
								text-decoration: none;
								text-align: center; 
							}
					}
			}

			.second-line{
				@extend %box-content-design;
				width: 100%;
				margin: 15px 0;
				height: 45px;

					.add-prod-form{
						width: 100%;
					    display: flex;
					    justify-content: space-around;
					    align-items: center;

							.icon{
								@include icon-setting;
								background-position: 0em -32.5em;
							}
							.add-prod-input{
								display: inline-block;
								border: none;
								width: 95%;
		    					height: 42px;
								font-size: 12px;
								line-height: 15px;
								color: $light-grey-color;
									&:focus{
										outline: none;
									}
							}
					}
			}

			.third-line{
				@extend %content-flex-allignement;
				@extend %box-content-design;

					.tab-product{
						width: 100%;

							thead{
									td{
										font-family: $main-font-bold;
										font-size: 8px;
										line-height: 10px;
										color: $dark-grey-color;
										text-transform: uppercase;
										padding: 10px;
									}								
							}

							tbody{
								tr{
									box-shadow: 0 -1px 0 0 $border-color;

										.desc-td{
											width: 224px;
										}
										td{
											font-family: $main-font;
											font-size: 11px;
											line-height: 14px;
											color: $light-grey-color;
											padding: 10px;
											vertical-align: middle;

												.edit-tab-icon{
													@include icon-setting;
													background-position: 0em -28.75em;
													height: 16px;
												}
												.remove-item{
													font-size: 10px;
													line-height: 13px;
													color: $dark-grey-color;
												}
												.set-price{
													font-size: 11px;
													line-height: 14px;
													color: #CD171A;		
												}
										}
								}

								.odd-tr{
									background: #FCFCFC;
								}
							}
					}
			}

			.forth-line{
				margin-top: 30px;
					.remark-container{
						@extend %box-content-design;
						margin-top: 10px;
						padding: 10px;

							span{
								font-size: 11px;
								line-height: 17px;
								color: $light-grey-color;
							}
					}
			}
	}

	.popup-container{
		width: 100%;
    	position: relative;
    	display: none;
    	z-index: 99999;

			.add-table-container{
				position: absolute;
				width: 94%;
				left: 30px;
    			bottom: 450px;

					.tab-add-prod{
						width: 100%;
						background: #fff;
						border: 1px solid $border-color;
						border-top: none;

							tbody{
								tr{
									box-shadow: 0 -1px 0 0 $border-color;

										td{
											font-family: $main-font;
											font-size: 11px;
											line-height: 14px;
											color: $light-grey-color;
											padding: 10px;
											vertical-align: middle;

												.add-pop-input{
													width: 34px;
													height: 30px;
													border: 1px solid $light-grey-color;
													border-radius: 4px;
													text-align: center;
												}
												.btn-pop-add{
													width: 50px;
													height: 24px;
													color: $white-color;
													background-color: $light-grey-color;
													border-radius: 4px;
													display: inline-block;
												    vertical-align: top;
												    text-align: center;
												    text-decoration: none;
												    padding-top: 10px;
												}
										}
										.add-prod-name{
											font-size: 12px;
											line-height: 15px;
											color: #64707C;
										}
								}
							}
					}
			}

	    	.esti-box-container{
				display: flex;
			    flex-direction: column;
			    justify-content: space-between;
				width: 292px;
				height: 252px;
				padding: 10px;
				background-color: $white-color;
				box-shadow: 0 2px 14px 0 rgba(0,0,0,0.12);
				position: absolute;
			    right: 40px;
			    bottom: 90px;

				hr {
				    box-sizing: border-box;
				    width: 100%;
				    border: 1px solid #F1F0F4;
				}
				.pop-elm-wrap{
					    width: 100%;
					    display: flex;
					    justify-content: space-between;
					    align-items: center;

							label{
								font-size: 11px;
								font-family: $main-font-bold;
								text-align: center;
								line-height: 14px;
								color: $dark-grey-color;
							}
							.estimated-input{
								width: 80px;
								@extend %popup-input;
							}
							.tax-input{
								width: 20px;
								@extend %popup-input;
							}
							.sub-total-span{
								font-size: 12px;
								line-height: 15px;
								color: $light-grey-color;
							}
							.tax-span{
								font-size: 11px;
								line-height: 14px;
								color: $light-grey-color;
							}
							.total-span{
								font-size: 18px;
								font-family: $main-font-bold;
								line-height: 22px;
								color: $dark-grey-color;
							}
				}
	    	}
	}

	.blur{
		position: relative;
		z-index: 300;
	    opacity: .6;
    	transition: opacity .3s;
        background: #000;
	}
}













@media screen and (max-width: 767px){
	.active{

	    &::before{
	      background-color: $menu-left-border-hover-mobile;    
	    }
	}	
	#menu {
		display: none;
		.top-logo-container {
		    background: transparent;

          img{
                width: 150px;
                display: block;
                margin: 0 auto;
          }
		}
	}

	.table-responsive {
	    width: 100%;
	    overflow-y: hidden;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	}

	#panel {
	    max-width: initial;
	    min-height: initial;
	    width: 100%;
	    	.content-header{
	    		.header-hello-container{
	    			display: none;
	    		}
	    	}
		    .content-wrap {
			    padding: 0px;
			    min-height: initial;
			    width: 100%;

			    	.order-head{
			    		display: none;
			    	}
			    	.first-line {
					    flex-direction: column;
					    align-content: flex-start;
						align-items: flex-start;
						margin-top: 0;
						padding: 0;

						    .addition-container {
							    flex-direction: column;
							    align-items: flex-start;
							    height: 100%;
							    width: 100%;
							    background: transparent;
    							border: none;
    							padding: 0;
    								.name-address-container{
									    width: 100%;
									    text-align: center;
									    background: #fff;
									    height: 80px;
									    border-bottom: 1px solid $border-color;
									    display: flex;
									    flex-direction: column;
									    margin-bottom: 20px;

	    									.phone-comp{
	    										display: none;
	    									}
    								}	

    								.dropdown-container{
    									width: 100%;
    									padding: 0 10px;
    									flex-direction: column;
    									align-items: flex-start;

	    									.single-drop {
											    display: flex;
											    flex-direction: column;
											    align-items: flex-start;
											    width: 100%;

											    	&:first-child{
											    		display: none;
											    	}
											    	select {
													    width: 95%;
													    height: 45px;
													    margin: 5px 0 15px 0;
													}
											}
    								}
							}
							.update-back-container {

								width: 100%;
								padding: 0 10px;
								align-items: flex-end;
    							justify-content: flex-start;

									.btn-back {
										display: none;
									}
							}
					}

					.second-line{
						margin: 15px 10px;
						width: 93%;

							.add-prod-form {
								.icon{
									margin: 0 10px;
								}
							}
					}

					.third-line{
						margin: 0 10px;
					}


					.forth-line{
						margin: 30px 10px 0 10px;
					}
			}
	}


/*    .slideout-menu {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 256px;
      min-height: 100vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 0;
      display: none;
    }

    .slideout-menu-left {
      left: 0;
    }

    .slideout-menu-right {
      right: 0;
    }

    .slideout-panel {
      position: relative;
      z-index: 1;
      will-change: transform;
      background-color: #FFF; 
      min-height: 100vh;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
      overflow: hidden;
    }

    .slideout-open .slideout-menu {
      display: block;
    }*/
}