@import 'partials/reset';
@import 'partials/fonts';


$purpule-menu : #71237E;
$dark-purpule-menu : #4D1463;
$menu-element : #D18EE2;
$menu-hover : rgba(76,19,103,0.5);
$menu-left-border-hover : #65B32E;
$menu-left-border-hover-mobile : #FFCC00;
$menu-overlay : #6C6D6D;
$white-color: #FFF;



@mixin content-allignement{
	display: inline-block;
	vertical-align: top;
}
@mixin icon-setting{
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 2.4em 47em;
	width: 17px;
	height: 17px;
}

@mixin icon-list ($purp_x,$purp_y,$white_x,$white_y){
	.sprite-icon {
                background-position: $purp_x $purp_y;
            }
     &:hover .sprite-icon{
                background-position: $white_x $white_y;     	
     }       
}

%menu-item-elm-allignement{
    display: flex;
    align-items: center;
    height: 67px;
    width: 100%; 
}

.active{
    background-color: $menu-hover;
    box-shadow: 0 -1px 0 0 #4C1367, 0 1px 0 0 #4C1367;

    &::before{
      content: '';
      width: 6px;
      height: 41px;
      background-color: $menu-left-border-hover;
      border-radius: 0 17px 17px 0;      
    }
    .menu-list-element{
      color: $white-color !important;
	    .sprite-icon  {
	      	margin: 0px 25px 0 19px !important;
	      }
    }    
    .section-dash .sprite-icon {
    	background-position:0em -1.2em !important;
    }
    .section-ord .sprite-icon {
    	background-position:0em -3.6em !important;
    }
    .section-comp .sprite-icon{
    	background-position:0em -6em !important;
    }
    .section-prod .sprite-icon {
    	background-position:0em -8.4em !important;
    }
    .section-doc .sprite-icon {
    	background-position:0em -10.8em !important;
    }
    .section-pri .sprite-icon{
    	background-position: 0em -13.3em !important;
    }
    .section-bra .sprite-icon{
    	background-position: 0em -15.7em !important;
    }
    .section-set .sprite-icon{
    	background-position:0em -18em !important;
    }
    .section-rep .sprite-icon{
    	background-position:0em -20.5em !important;
    }
    .section-acc .sprite-icon{
    	background-position:0em -22.8em !important;
    }
}






#menu {
  background: $purpule-menu;
  width: 246px;
  @include content-allignement;
    .top-logo-container{
      height: 70px;
      background: $dark-purpule-menu;
      margin-bottom: 10px;
    }

    .menu-list-item{
      @extend %menu-item-elm-allignement;
      transition: .5s;

            &:hover{
              @extend .active;
            }
            .section-dash  {
            	@include icon-list(0em,0em,0em,-1.2em);
            }
            .section-ord  {
            	@include icon-list(0em,-2.4em,0em,-3.6em);
            }
            .section-comp {
            	@include icon-list(0em,-4.8em,0em,-6em);
            }
            .section-prod {
            	@include icon-list(0em,-7.2em,0em,-8.4em);
            }
            .section-doc {
            	@include icon-list(0em,-9.67em,0em,-10.8em);
            }
            .section-pri {
            	@include icon-list(0em,-12.05em,0em,-13.3em);
            }
            .section-bra {
            	@include icon-list(0em,-14.4em,0em,-15.7em);
            }
            .section-set {
            	@include icon-list(0em,-16.85em,0em,-18em);
            }
            .section-rep {
            	@include icon-list(0em,-19.3em,0em,-20.5em);
            }
            .section-acc {
            	@include icon-list(0em,-21.7em,0em,-22.8em);
            }

        .menu-list-element{
          @extend %menu-item-elm-allignement;
          font-family: Montserrat-Light;
          font-size: 14px;
          font-weight: 600;
          line-height: 34px;
          color: $menu-element;
          text-decoration: none;
          position: relative;
	        .sprite-icon{
	        	@include icon-setting;
	          	margin: 0px 25px;
	       } 
        }
        .elm-arrow-left::after {
        	content:'';
	        @include icon-setting;
	        background-position: 0em -25.3em;
	        position: absolute;
    		right: 5px
        }
    }

    .logout	{
    	display: block;
    	width: 47px;
		height: 15px;
		margin: 46px 0 0 35px;
		font-size: 12px;
		text-decoration: none;
		line-height: 15px;
		font-family: Montserrat-Light;
		color: $menu-element;
    }
}



#panel{
  @include content-allignement;	
}













@media screen and (max-width: 767px){
	.active{

	    &::before{
	      background-color: $menu-left-border-hover-mobile;    
	    }
	}	
	#menu {
		.top-logo-container {
		    background: transparent;

          img{
                width: 150px;
                display: block;
                margin: 0 auto;
          }
		}
	}


    .slideout-menu {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 256px;
      min-height: 100vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 0;
      display: none;
    }

    .slideout-menu-left {
      left: 0;
    }

    .slideout-menu-right {
      right: 0;
    }

    .slideout-panel {
      position: relative;
      z-index: 1;
      will-change: transform;
      background-color: #FFF; /* A background-color is required */
      min-height: 100vh;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
      overflow: hidden;
    }

    .slideout-open .slideout-menu {
      display: block;
    }
}