html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1; }

ol, ul {
  list-style: none; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'Montserrat-Black';
  src: url("../fonts/Montserrat-Black.otf") format("opentype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/Montserrat-ExtraBold.otf") format("opentype"); }

@font-face {
  font-family: 'Montserrat-Hairline';
  src: url("../fonts/Montserrat-Hairline.otf") format("opentype"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.otf") format("opentype"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat-SemiBold.otf") format("opentype"); }

@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url("../fonts/Montserrat-UltraLight.otf") format("opentype"); }

#menu .menu-list-item, #menu .menu-list-item .menu-list-element {
  display: flex;
  align-items: center;
  height: 67px;
  width: 100%; }

.active, #menu .menu-list-item:hover {
  background-color: rgba(76, 19, 103, 0.5);
  box-shadow: 0 -1px 0 0 #4C1367, 0 1px 0 0 #4C1367; }
  .active::before, #menu .menu-list-item:hover::before {
    content: '';
    width: 6px;
    height: 41px;
    background-color: #65B32E;
    border-radius: 0 17px 17px 0; }
  .active .menu-list-element, #menu .menu-list-item:hover .menu-list-element {
    color: #FFF !important; }
    .active .menu-list-element .sprite-icon, #menu .menu-list-item:hover .menu-list-element .sprite-icon {
      margin: 0px 25px 0 19px !important; }
  .active .section-dash .sprite-icon, #menu .menu-list-item:hover .section-dash .sprite-icon {
    background-position: 0em -1.2em !important; }
  .active .section-ord .sprite-icon, #menu .menu-list-item:hover .section-ord .sprite-icon {
    background-position: 0em -3.6em !important; }
  .active .section-comp .sprite-icon, #menu .menu-list-item:hover .section-comp .sprite-icon {
    background-position: 0em -6em !important; }
  .active .section-prod .sprite-icon, #menu .menu-list-item:hover .section-prod .sprite-icon {
    background-position: 0em -8.4em !important; }
  .active .section-doc .sprite-icon, #menu .menu-list-item:hover .section-doc .sprite-icon {
    background-position: 0em -10.8em !important; }
  .active .section-pri .sprite-icon, #menu .menu-list-item:hover .section-pri .sprite-icon {
    background-position: 0em -13.3em !important; }
  .active .section-bra .sprite-icon, #menu .menu-list-item:hover .section-bra .sprite-icon {
    background-position: 0em -15.7em !important; }
  .active .section-set .sprite-icon, #menu .menu-list-item:hover .section-set .sprite-icon {
    background-position: 0em -18em !important; }
  .active .section-rep .sprite-icon, #menu .menu-list-item:hover .section-rep .sprite-icon {
    background-position: 0em -20.5em !important; }
  .active .section-acc .sprite-icon, #menu .menu-list-item:hover .section-acc .sprite-icon {
    background-position: 0em -22.8em !important; }

#menu {
  background: #71237E;
  width: 246px;
  display: inline-block;
  vertical-align: top; }
  #menu .top-logo-container {
    height: 70px;
    background: #4D1463;
    margin-bottom: 10px; }
  #menu .menu-list-item {
    transition: .5s; }
    #menu .menu-list-item .section-dash .sprite-icon {
      background-position: 0em 0em; }
    #menu .menu-list-item .section-dash:hover .sprite-icon {
      background-position: 0em -1.2em; }
    #menu .menu-list-item .section-ord .sprite-icon {
      background-position: 0em -2.4em; }
    #menu .menu-list-item .section-ord:hover .sprite-icon {
      background-position: 0em -3.6em; }
    #menu .menu-list-item .section-comp .sprite-icon {
      background-position: 0em -4.8em; }
    #menu .menu-list-item .section-comp:hover .sprite-icon {
      background-position: 0em -6em; }
    #menu .menu-list-item .section-prod .sprite-icon {
      background-position: 0em -7.2em; }
    #menu .menu-list-item .section-prod:hover .sprite-icon {
      background-position: 0em -8.4em; }
    #menu .menu-list-item .section-doc .sprite-icon {
      background-position: 0em -9.67em; }
    #menu .menu-list-item .section-doc:hover .sprite-icon {
      background-position: 0em -10.8em; }
    #menu .menu-list-item .section-pri .sprite-icon {
      background-position: 0em -12.05em; }
    #menu .menu-list-item .section-pri:hover .sprite-icon {
      background-position: 0em -13.3em; }
    #menu .menu-list-item .section-bra .sprite-icon {
      background-position: 0em -14.4em; }
    #menu .menu-list-item .section-bra:hover .sprite-icon {
      background-position: 0em -15.7em; }
    #menu .menu-list-item .section-set .sprite-icon {
      background-position: 0em -16.85em; }
    #menu .menu-list-item .section-set:hover .sprite-icon {
      background-position: 0em -18em; }
    #menu .menu-list-item .section-rep .sprite-icon {
      background-position: 0em -19.3em; }
    #menu .menu-list-item .section-rep:hover .sprite-icon {
      background-position: 0em -20.5em; }
    #menu .menu-list-item .section-acc .sprite-icon {
      background-position: 0em -21.7em; }
    #menu .menu-list-item .section-acc:hover .sprite-icon {
      background-position: 0em -22.8em; }
    #menu .menu-list-item .menu-list-element {
      font-family: Montserrat-Light;
      font-size: 14px;
      font-weight: 600;
      line-height: 34px;
      color: #D18EE2;
      text-decoration: none;
      position: relative; }
      #menu .menu-list-item .menu-list-element .sprite-icon {
        vertical-align: middle;
        display: inline-block;
        background-image: url("../images/sprite.svg");
        background-repeat: no-repeat;
        background-size: 2.4em 47em;
        width: 17px;
        height: 17px;
        margin: 0px 25px; }
    #menu .menu-list-item .elm-arrow-left::after {
      content: '';
      vertical-align: middle;
      display: inline-block;
      background-image: url("../images/sprite.svg");
      background-repeat: no-repeat;
      background-size: 2.4em 47em;
      width: 17px;
      height: 17px;
      background-position: 0em -25.3em;
      position: absolute;
      right: 5px; }
  #menu .logout {
    display: block;
    width: 47px;
    height: 15px;
    margin: 46px 0 0 35px;
    font-size: 12px;
    text-decoration: none;
    line-height: 15px;
    font-family: Montserrat-Light;
    color: #D18EE2; }

#panel {
  display: inline-block;
  vertical-align: top; }

@media screen and (max-width: 767px) {
  .active::before, #menu .menu-list-item:hover::before {
    background-color: #FFCC00; }
  #menu .top-logo-container {
    background: transparent; }
    #menu .top-logo-container img {
      width: 150px;
      display: block;
      margin: 0 auto; }
  .slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none; }
  .slideout-menu-left {
    left: 0; }
  .slideout-menu-right {
    right: 0; }
  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF;
    /* A background-color is required */
    min-height: 100vh; }
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden; }
  .slideout-open .slideout-menu {
    display: block; } }
