html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1; }

ol, ul {
  list-style: none; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'Montserrat-Black';
  src: url("../fonts/Montserrat-Black.otf") format("opentype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/Montserrat-ExtraBold.otf") format("opentype"); }

@font-face {
  font-family: 'Montserrat-Hairline';
  src: url("../fonts/Montserrat-Hairline.otf") format("opentype"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.otf") format("opentype"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat-SemiBold.otf") format("opentype"); }

@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url("../fonts/Montserrat-UltraLight.otf") format("opentype"); }

#menu .menu-list-item, #menu .menu-list-item .menu-list-element {
  display: flex;
  align-items: center;
  height: 67px;
  width: 100%; }

#panel .content-wrap .first-line, #panel .content-wrap .first-line .addition-container, #panel .content-wrap .third-line {
  display: flex;
  align-content: center;
  align-items: center; }

#panel .content-wrap .first-line .addition-container, #panel .content-wrap .second-line, #panel .content-wrap .third-line, #panel .content-wrap .forth-line .remark-container {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgba(173, 179, 185, 0.51); }

#panel .popup-container .esti-box-container .pop-elm-wrap .estimated-input, #panel .popup-container .esti-box-container .pop-elm-wrap .tax-input {
  height: 20px;
  border: 1px solid #8899AA;
  border-radius: 4px;
  text-align: center;
  padding: 5px; }

body {
  display: flex;
  font-family: "Montserrat-Light", sans-serif;
  font-size: 14px; }

.active, #menu .menu-list-item:hover {
  background-color: rgba(76, 19, 103, 0.5);
  box-shadow: 0 -1px 0 0 #4C1367, 0 1px 0 0 #4C1367; }
  .active::before, #menu .menu-list-item:hover::before {
    content: '';
    width: 6px;
    height: 41px;
    background-color: #65B32E;
    border-radius: 0 17px 17px 0; }
  .active .menu-list-element, #menu .menu-list-item:hover .menu-list-element {
    color: #FFF !important; }
    .active .menu-list-element .sprite-icon, #menu .menu-list-item:hover .menu-list-element .sprite-icon {
      margin: 0px 25px 0 19px !important; }
  .active .section-dash .sprite-icon, #menu .menu-list-item:hover .section-dash .sprite-icon {
    background-position: 0em -1.2em !important; }
  .active .section-ord .sprite-icon, #menu .menu-list-item:hover .section-ord .sprite-icon {
    background-position: 0em -3.6em !important; }
  .active .section-comp .sprite-icon, #menu .menu-list-item:hover .section-comp .sprite-icon {
    background-position: 0em -6em !important; }
  .active .section-prod .sprite-icon, #menu .menu-list-item:hover .section-prod .sprite-icon {
    background-position: 0em -8.4em !important; }
  .active .section-doc .sprite-icon, #menu .menu-list-item:hover .section-doc .sprite-icon {
    background-position: 0em -10.8em !important; }
  .active .section-pri .sprite-icon, #menu .menu-list-item:hover .section-pri .sprite-icon {
    background-position: 0em -13.3em !important; }
  .active .section-bra .sprite-icon, #menu .menu-list-item:hover .section-bra .sprite-icon {
    background-position: 0em -15.7em !important; }
  .active .section-set .sprite-icon, #menu .menu-list-item:hover .section-set .sprite-icon {
    background-position: 0em -18em !important; }
  .active .section-rep .sprite-icon, #menu .menu-list-item:hover .section-rep .sprite-icon {
    background-position: 0em -20.5em !important; }
  .active .section-acc .sprite-icon, #menu .menu-list-item:hover .section-acc .sprite-icon {
    background-position: 0em -22.8em !important; }

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
  width: 100%; }

#menu {
  background: #71237E;
  width: 246px; }
  #menu .top-logo-container {
    height: 70px;
    background: #4D1463;
    margin-bottom: 10px; }
  #menu .menu-list-item {
    transition: .5s; }
    #menu .menu-list-item .section-dash .sprite-icon {
      background-position: 0em 0em; }
    #menu .menu-list-item .section-dash:hover .sprite-icon {
      background-position: 0em -1.2em; }
    #menu .menu-list-item .section-ord .sprite-icon {
      background-position: 0em -2.4em; }
    #menu .menu-list-item .section-ord:hover .sprite-icon {
      background-position: 0em -3.6em; }
    #menu .menu-list-item .section-comp .sprite-icon {
      background-position: 0em -4.8em; }
    #menu .menu-list-item .section-comp:hover .sprite-icon {
      background-position: 0em -6em; }
    #menu .menu-list-item .section-prod .sprite-icon {
      background-position: 0em -7.2em; }
    #menu .menu-list-item .section-prod:hover .sprite-icon {
      background-position: 0em -8.4em; }
    #menu .menu-list-item .section-doc .sprite-icon {
      background-position: 0em -9.67em; }
    #menu .menu-list-item .section-doc:hover .sprite-icon {
      background-position: 0em -10.8em; }
    #menu .menu-list-item .section-pri .sprite-icon {
      background-position: 0em -12.05em; }
    #menu .menu-list-item .section-pri:hover .sprite-icon {
      background-position: 0em -13.3em; }
    #menu .menu-list-item .section-bra .sprite-icon {
      background-position: 0em -14.4em; }
    #menu .menu-list-item .section-bra:hover .sprite-icon {
      background-position: 0em -15.7em; }
    #menu .menu-list-item .section-set .sprite-icon {
      background-position: 0em -16.85em; }
    #menu .menu-list-item .section-set:hover .sprite-icon {
      background-position: 0em -18em; }
    #menu .menu-list-item .section-rep .sprite-icon {
      background-position: 0em -19.3em; }
    #menu .menu-list-item .section-rep:hover .sprite-icon {
      background-position: 0em -20.5em; }
    #menu .menu-list-item .section-acc .sprite-icon {
      background-position: 0em -21.7em; }
    #menu .menu-list-item .section-acc:hover .sprite-icon {
      background-position: 0em -22.8em; }
    #menu .menu-list-item .menu-list-element {
      font-weight: 600;
      line-height: 34px;
      color: #D18EE2;
      text-decoration: none;
      position: relative; }
      #menu .menu-list-item .menu-list-element .sprite-icon {
        vertical-align: middle;
        display: inline-block;
        background-image: url("../images/sprite.svg");
        background-repeat: no-repeat;
        background-size: 2.4em 47em;
        width: 17px;
        height: 17px;
        margin: 0px 25px; }
    #menu .menu-list-item .elm-arrow-left::after {
      content: '';
      vertical-align: middle;
      display: inline-block;
      background-image: url("../images/sprite.svg");
      background-repeat: no-repeat;
      background-size: 2.4em 47em;
      width: 17px;
      height: 17px;
      background-position: 0em -25.3em;
      position: absolute;
      right: 5px; }
  #menu .logout {
    display: block;
    width: 47px;
    height: 15px;
    margin: 46px 0 0 35px;
    font-size: 12px;
    text-decoration: none;
    line-height: 15px;
    color: #D18EE2; }

#panel {
  flex-grow: 2;
  max-width: 1100px;
  min-height: 1024px;
  position: relative; }
  #panel .content-header {
    width: 100%;
    height: 70px;
    display: flex;
    border-bottom: 1px solid #C9C9C9; }
    #panel .content-header .search-container {
      flex-grow: 2;
      border-right: 1px solid #C9C9C9; }
      #panel .content-header .search-container .icon-search::before {
        content: '';
        vertical-align: middle;
        display: inline-block;
        background-image: url("../images/sprite.svg");
        background-repeat: no-repeat;
        background-size: 2.4em 47em;
        width: 17px;
        height: 17px;
        background-position: 0em -27.7em;
        margin-left: 25px; }
      #panel .content-header .search-container .icon-search .search-head-input {
        display: inline-block;
        width: 92%;
        border: none;
        height: 68px;
        line-height: 18px;
        color: #8899AA; }
        #panel .content-header .search-container .icon-search .search-head-input:focus {
          outline: none; }
    #panel .content-header .header-hello-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px; }
      #panel .content-header .header-hello-container .hello-msg {
        line-height: 18px;
        color: #DF542A; }
      #panel .content-header .header-hello-container .corp-name {
        text-decoration: none;
        font-size: 11px;
        font-weight: 600;
        line-height: 14px;
        color: #626272; }
      #panel .content-header .header-hello-container .arrow-down {
        vertical-align: middle;
        display: inline-block;
        background-image: url("../images/sprite.svg");
        background-repeat: no-repeat;
        background-size: 2.4em 47em;
        width: 17px;
        height: 17px;
        background-position: 0em -23.85em;
        transform: rotate(90deg);
        padding-left: 20px; }
  #panel .content-wrap {
    display: flex;
    flex-direction: column;
    background-color: #F4F7F8;
    padding: 20px 40px 20px 30px;
    min-height: 913px; }
    #panel .content-wrap .order-head {
      font-size: 24px;
      font-weight: 300;
      line-height: 29px;
      color: #6C5E73; }
      #panel .content-wrap .order-head .order-label {
        opacity: 0.2; }
      #panel .content-wrap .order-head .order-serial {
        opacity: 1; }
    #panel .content-wrap .first-line {
      margin-top: 20px;
      justify-content: space-between; }
      #panel .content-wrap .first-line .addition-container {
        width: 75%;
        height: 70px;
        padding: 10px; }
        #panel .content-wrap .first-line .addition-container .name-address-container {
          width: 60%; }
          #panel .content-wrap .first-line .addition-container .name-address-container p {
            margin: 7px 0; }
          #panel .content-wrap .first-line .addition-container .name-address-container .name-comp {
            font-size: 16px;
            font-family: "Montserrat-Bold", sans-serif;
            line-height: 19px;
            color: #626272; }
          #panel .content-wrap .first-line .addition-container .name-address-container .address-comp {
            font-size: 12px;
            line-height: 15px;
            color: #8899AA; }
          #panel .content-wrap .first-line .addition-container .name-address-container .phone-comp {
            font-size: 12px;
            font-weight: 600;
            line-height: 15px;
            color: #8899AA; }
        #panel .content-wrap .first-line .addition-container .dropdown-container {
          display: flex;
          width: 60%;
          justify-content: space-around; }
          #panel .content-wrap .first-line .addition-container .dropdown-container .single-drop {
            display: flex;
            flex-direction: column;
            align-items: center; }
            #panel .content-wrap .first-line .addition-container .dropdown-container .single-drop label {
              font-size: 11px;
              font-family: "Montserrat-Bold", sans-serif;
              line-height: 14px;
              color: #626272;
              margin-bottom: 4px; }
            #panel .content-wrap .first-line .addition-container .dropdown-container .single-drop select {
              height: 33px;
              width: 112px;
              box-sizing: border-box;
              background-color: #FFF;
              border: 1px solid #C9C9C9;
              border-radius: 4px;
              font-size: 11px;
              line-height: 14px;
              color: #8899AA;
              cursor: pointer; }
      #panel .content-wrap .first-line .update-back-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 23%; }
        #panel .content-wrap .first-line .update-back-container .btn-back {
          font-size: 14px;
          line-height: 18px;
          color: #626272;
          text-decoration: none; }
        #panel .content-wrap .first-line .update-back-container .btn-update {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 140px;
          height: 44px;
          background-color: #8899AA;
          border-radius: 5px;
          color: #FFF;
          text-decoration: none;
          text-align: center; }
    #panel .content-wrap .second-line {
      width: 100%;
      margin: 15px 0;
      height: 45px; }
      #panel .content-wrap .second-line .add-prod-form {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        #panel .content-wrap .second-line .add-prod-form .icon {
          vertical-align: middle;
          display: inline-block;
          background-image: url("../images/sprite.svg");
          background-repeat: no-repeat;
          background-size: 2.4em 47em;
          width: 17px;
          height: 17px;
          background-position: 0em -32.5em; }
        #panel .content-wrap .second-line .add-prod-form .add-prod-input {
          display: inline-block;
          border: none;
          width: 95%;
          height: 42px;
          font-size: 12px;
          line-height: 15px;
          color: #8899AA; }
          #panel .content-wrap .second-line .add-prod-form .add-prod-input:focus {
            outline: none; }
    #panel .content-wrap .third-line .tab-product {
      width: 100%; }
      #panel .content-wrap .third-line .tab-product thead td {
        font-family: "Montserrat-Bold", sans-serif;
        font-size: 8px;
        line-height: 10px;
        color: #626272;
        text-transform: uppercase;
        padding: 10px; }
      #panel .content-wrap .third-line .tab-product tbody tr {
        box-shadow: 0 -1px 0 0 #C9C9C9; }
        #panel .content-wrap .third-line .tab-product tbody tr .desc-td {
          width: 224px; }
        #panel .content-wrap .third-line .tab-product tbody tr td {
          font-family: "Montserrat-Light", sans-serif;
          font-size: 11px;
          line-height: 14px;
          color: #8899AA;
          padding: 10px;
          vertical-align: middle; }
          #panel .content-wrap .third-line .tab-product tbody tr td .edit-tab-icon {
            vertical-align: middle;
            display: inline-block;
            background-image: url("../images/sprite.svg");
            background-repeat: no-repeat;
            background-size: 2.4em 47em;
            width: 17px;
            height: 17px;
            background-position: 0em -28.75em;
            height: 16px; }
          #panel .content-wrap .third-line .tab-product tbody tr td .remove-item {
            font-size: 10px;
            line-height: 13px;
            color: #626272; }
          #panel .content-wrap .third-line .tab-product tbody tr td .set-price {
            font-size: 11px;
            line-height: 14px;
            color: #CD171A; }
      #panel .content-wrap .third-line .tab-product tbody .odd-tr {
        background: #FCFCFC; }
    #panel .content-wrap .forth-line {
      margin-top: 30px; }
      #panel .content-wrap .forth-line .remark-container {
        margin-top: 10px;
        padding: 10px; }
        #panel .content-wrap .forth-line .remark-container span {
          font-size: 11px;
          line-height: 17px;
          color: #8899AA; }
  #panel .popup-container {
    width: 100%;
    position: relative;
    display: none;
    z-index: 99999; }
    #panel .popup-container .add-table-container {
      position: absolute;
      width: 94%;
      left: 30px;
      bottom: 450px; }
      #panel .popup-container .add-table-container .tab-add-prod {
        width: 100%;
        background: #fff;
        border: 1px solid #C9C9C9;
        border-top: none; }
        #panel .popup-container .add-table-container .tab-add-prod tbody tr {
          box-shadow: 0 -1px 0 0 #C9C9C9; }
          #panel .popup-container .add-table-container .tab-add-prod tbody tr td {
            font-family: "Montserrat-Light", sans-serif;
            font-size: 11px;
            line-height: 14px;
            color: #8899AA;
            padding: 10px;
            vertical-align: middle; }
            #panel .popup-container .add-table-container .tab-add-prod tbody tr td .add-pop-input {
              width: 34px;
              height: 30px;
              border: 1px solid #8899AA;
              border-radius: 4px;
              text-align: center; }
            #panel .popup-container .add-table-container .tab-add-prod tbody tr td .btn-pop-add {
              width: 50px;
              height: 24px;
              color: #FFF;
              background-color: #8899AA;
              border-radius: 4px;
              display: inline-block;
              vertical-align: top;
              text-align: center;
              text-decoration: none;
              padding-top: 10px; }
          #panel .popup-container .add-table-container .tab-add-prod tbody tr .add-prod-name {
            font-size: 12px;
            line-height: 15px;
            color: #64707C; }
    #panel .popup-container .esti-box-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 292px;
      height: 252px;
      padding: 10px;
      background-color: #FFF;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.12);
      position: absolute;
      right: 40px;
      bottom: 90px; }
      #panel .popup-container .esti-box-container hr {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #F1F0F4; }
      #panel .popup-container .esti-box-container .pop-elm-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #panel .popup-container .esti-box-container .pop-elm-wrap label {
          font-size: 11px;
          font-family: "Montserrat-Bold", sans-serif;
          text-align: center;
          line-height: 14px;
          color: #626272; }
        #panel .popup-container .esti-box-container .pop-elm-wrap .estimated-input {
          width: 80px; }
        #panel .popup-container .esti-box-container .pop-elm-wrap .tax-input {
          width: 20px; }
        #panel .popup-container .esti-box-container .pop-elm-wrap .sub-total-span {
          font-size: 12px;
          line-height: 15px;
          color: #8899AA; }
        #panel .popup-container .esti-box-container .pop-elm-wrap .tax-span {
          font-size: 11px;
          line-height: 14px;
          color: #8899AA; }
        #panel .popup-container .esti-box-container .pop-elm-wrap .total-span {
          font-size: 18px;
          font-family: "Montserrat-Bold", sans-serif;
          line-height: 22px;
          color: #626272; }
  #panel .blur {
    position: relative;
    z-index: 300;
    opacity: .6;
    transition: opacity .3s;
    background: #000; }

@media screen and (max-width: 767px) {
  .active::before, #menu .menu-list-item:hover::before {
    background-color: #FFCC00; }
  #menu {
    display: none; }
    #menu .top-logo-container {
      background: transparent; }
      #menu .top-logo-container img {
        width: 150px;
        display: block;
        margin: 0 auto; }
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
  #panel {
    max-width: initial;
    min-height: initial;
    width: 100%; }
    #panel .content-header .header-hello-container {
      display: none; }
    #panel .content-wrap {
      padding: 20px 10px;
      min-height: initial;
      width: 100%; }
      #panel .content-wrap .order-head {
        display: none; }
      #panel .content-wrap .first-line {
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start; }
        #panel .content-wrap .first-line .addition-container {
          flex-direction: column;
          align-items: flex-start;
          height: 100%;
          width: 100%;
          background: transparent;
          border: none;
          padding: 10px 0; }
          #panel .content-wrap .first-line .addition-container .dropdown-container {
            width: 100%;
            flex-direction: column;
            align-items: flex-start; }
            #panel .content-wrap .first-line .addition-container .dropdown-container .single-drop {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 100%; }
              #panel .content-wrap .first-line .addition-container .dropdown-container .single-drop:first-child {
                display: none; }
              #panel .content-wrap .first-line .addition-container .dropdown-container .single-drop select {
                width: 95%;
                height: 45px;
                margin: 5px 0 15px 0; }
        #panel .content-wrap .first-line .update-back-container .btn-back {
          display: none; }
  /*    .slideout-menu {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 256px;
      min-height: 100vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 0;
      display: none;
    }

    .slideout-menu-left {
      left: 0;
    }

    .slideout-menu-right {
      right: 0;
    }

    .slideout-panel {
      position: relative;
      z-index: 1;
      will-change: transform;
      background-color: #FFF; 
      min-height: 100vh;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
      overflow: hidden;
    }

    .slideout-open .slideout-menu {
      display: block;
    }*/ }
