.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 6.4em 128.7em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.01-controls-purple:before {
      background-position: 0em 0em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.02-controls-white:before {
      background-position: 0em -3.3em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.03-shopping-cart-purple:before {
      background-position: 0em -6.6em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.04-shopping-cart-white:before {
      background-position: 0em -9.9em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.05-factory-purple:before {
      background-position: 0em -13.2em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.06-factory-white:before {
      background-position: 0em -16.5em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.07-box-purple:before {
      background-position: 0em -19.8em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.08-box-white:before {
      background-position: 0em -23.1em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.09-document-purple:before {
      background-position: 0em -26.4em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.10-document-white:before {
      background-position: 0em -29.7em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.11-pricing-label-purple:before {
      background-position: 0em -33em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.12-pricing-label-white:before {
      background-position: 0em -36.3em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.13-shapes-purple:before {
      background-position: 0em -39.6em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.14-shapes-white:before {
      background-position: 0em -42.9em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.15-gear-purple:before {
      background-position: 0em -46.2em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.16-gear-white:before {
      background-position: 0em -49.5em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.17-chart-purple:before {
      background-position: 0em -52.8em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.18-chart-white:before {
      background-position: 0em -56.1em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.19-people-purple:before {
      background-position: 0em -59.4em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.20-people-white:before {
      background-position: 0em -62.7em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.21-arrow-grey:before {
      background-position: 0em -66em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.22-arrow-purple:before {
      background-position: 0em -69.3em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.23-arrow-white:before {
      background-position: 0em -72.6em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.24-magnifying-glass:before {
      background-position: 0em -75.9em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.25-icon_edit:before {
      background-position: 0em -79.2em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.26-arrow-in-circle:before {
      background-position: 0em -82.5em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.27-close-white:before {
      background-position: 0em -85.8em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.28-icon_plus:before {
      background-position: 0em -89.1em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.29-mandatory-star:before {
      background-position: 0em -92.4em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.30-tick-white:before {
      background-position: 0em -95.7em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.31-icon_phone:before {
      background-position: 0em -99em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.32-icon_play:before {
      background-position: 0em -102.3em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.33-hierarchy-purple:before {
      background-position: 0em -105.6em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.34-hierarchy-white:before {
      background-position: 0em -108.9em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.35-icon_toggle_merged:before {
      background-position: 0em -112.2em;
      width: 6.4em;
      height: 3.3em;
  }




  .icon.36-icon_mail:before {
      background-position: 0em -115.5em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.37-icon_linkedin:before {
      background-position: 0em -118.8em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.38-icon_fb:before {
      background-position: 0em -122.1em;
      width: 3.3em;
      height: 3.3em;
  }




  .icon.39-icon_twitter:before {
      background-position: 0em -125.4em;
      width: 3.3em;
      height: 3.3em;
  }





